@page "/"

@using SmartTerraWebApp.Data
@using SmartTerraAPI.DTO


<style>
    tbody {
        color: dimgray;
    }

    label {
        min-width: 130px;
    }

    h5 {
        color: dimgray;
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
    }
</style>
<h4 style="color: indigo;">Hello @user.Login!</h4><p></p>
@if (!logInSuccess)
{
    <h5>Please, login!</h5>
    <input placeholder="Email address" type="email" value="@email" @onchange="@((ChangeEventArgs __e) => email =__e.Value.ToString())" />
    <br />
    <input placeholder="Password" type="text" value="@password" @onchange="@((ChangeEventArgs __e) => password =__e.Value.ToString())" />
    <br />
    <br />
    <button type="button" class="btn btn-outline-info btn-sm" @onclick="LogIn">Log in</button>
    <br />
    <br />
    @if (returnMessage == "Error")
    {
        <div class="alert alert-secondary" role="alert">
            <p>Sorry, problem occurred!</p>
            <p>Please check if all the data has been entered.</p>
        </div>
    }
    @if (returnMessage == "Bad Request")
    {
        <div class="alert alert-danger" role="alert">
            <p>Sorry, problem occurred!</p>
            <p>There is no user with given email address: @email</p>
        </div>
    }
}
@if (logInSuccess)
{
    <button type="button" class="btn btn-outline-secondary btn-sm" @onclick="LogOut">Log out</button>
    <br />
    if (devicesDTO != null)
    {

        <h5>Current chosen device: @choosenDevice.Name</h5>
        <br />
        <h6>Choose your device,</h6>
        @if (!fetchDeviceFlag)
        {
            <button type="button" class="btn btn-outline-info btn-sm" @onclick="FetchDevice">Fetch device</button>
            <br />
            <br />
        }
        else if (fetchDeviceFlag)
        {
            <select value="@choosenDevice.Id" @onchange="((ChangeEventArgs __e) => choosenDevice.Id = int.Parse(__e.Value.ToString()))">
                <option value="" hidden>Select device</option>
                @foreach (var dev in devicesDTO)
                {
                    <option value="@dev.Id">@dev.Name</option>
                }
            </select>
            <br />
            <button type="button" class="btn btn-outline-info btn-sm" @onclick="ChooseDevice">Choose device</button>
            <br />
            <br />
        }
        <h6>or add a new one.</h6>
        @if (!addDeviceFlag)
        {
            <button type="button" class="btn btn-outline-info btn-sm" @onclick="AddDevice">Add device</button>
        }
    }
    else
    {
        <div class="alert alert-secondary" role="alert">
            <p>Sorry, problem occurred!</p>
            <p>You don't have any devices.</p>
        </div>
        <p>You can create new one now.</p>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect03">Name</label>
                <input type="text" @onchange="@((ChangeEventArgs __e) => device.Name = __e.Value.ToString())" />
            </div>
        </div>
        <button type="button" class="btn btn-outline-info btn-sm" @onclick="PostDevice">Add device</button>
    }
}
@if (addDeviceFlag)
{
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect03">Name</label>
            <input value="@newDeviceName" type="text" @onchange="@((ChangeEventArgs __e) => newDeviceName = __e.Value.ToString())" />
        </div>
    </div>
    <button type="button" class="btn btn-outline-info btn-sm" @onclick="PostDevice">Add device</button>
    <br />
    @if (!fetchDeviceFlag)
    {
        @if (reasonPhrase == "Bad Request")
        {
            <div class="alert alert-danger" role="alert">
                <p>Sorry, error occurred!</p>
                <p>Please check if all data has been entered.</p>
            </div>
        }
        else if (reasonPhrase == "Created")
        {
            <div class="alert alert-info" role="alert">
                <p>Device has been successfully added!</p>
            </div>
        }
    }
}




@code{
    static int deviceId;
    string email, password;
    public static bool logInSuccess = false;
    DeviceDTO[] devicesDTO = new DeviceDTO[] { };
    DeviceAddDTO device = new DeviceAddDTO() { };
    bool addDeviceFlag = false, fetchDeviceFlag = false;
    public static UserDTO user = new UserDTO() { };
    UserService userService = new UserService();
    string returnMessage, newDeviceName = "";
    public static DeviceDTO choosenDevice = new DeviceDTO() { };
    HttpResponseMessage responseMessage;
    string contentValue = "", reasonPhrase = "";

    public async Task LogIn()
    {
        returnMessage = "";

        if (email == null || email == "")
        {
            returnMessage = "Error";
            return;
        }

        user = await userService.GetUser(email);
        if (user.Email == null)
        {
            returnMessage = "Bad Request";
            return;
        }
        logInSuccess = true;
        devicesDTO = await userService.GetDevices(user.Id);
    }

    public void LogOut()
    {
        logInSuccess = false;
        devicesDTO = new DeviceDTO[] { };
        user = new UserDTO() { };
        choosenDevice = new DeviceDTO() { };
    }

    public async Task FetchDevice()
    {
        devicesDTO = await userService.GetDevices(user.Id);
        fetchDeviceFlag = true;
        addDeviceFlag = false;
    }

    public void ChooseDevice()
    {

        foreach (var dev in devicesDTO)
        {
            if (dev.Id == choosenDevice.Id)
            {
                choosenDevice.Name = dev.Name;
            }
        }
        reasonPhrase = "";
        fetchDeviceFlag = false;
    }

    public void AddDevice()
    {
        addDeviceFlag = true;
    }

    public async Task PostDevice()
    {
        responseMessage = await userService.PostNewDevice(user.Id, newDeviceName);
        reasonPhrase = responseMessage.ReasonPhrase;
        contentValue = await responseMessage.Content.ReadAsStringAsync();
        fetchDeviceFlag = false;
    }
}